/*---------------------- ELEMENTs -----------------------*/
a {
    color: mintcream;
    font-family: Roboto, sans-serif;
    font-size: large;
}

body {
    background-color: rgb(11, 11, 24);
}

h5 {
    color: mintcream;
}

h6 {
    color: rgb(219, 221, 220);
}
hr {
    color: rgb(50, 50, 68);
    background-color: rgb(50, 50, 68);
    height: 10px;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 2px;
    margin-top: 1px;
    padding-left: 15px;
    
}

pre {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: mintcream;
    padding: 0em;
}


span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    margin-left: 20px;
}

/*---------------------- CLASSes -----------------------*/
.action_icons {
    height: 25px;
    color: gray;
    left: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.account {
    position: relative;
    left: 40px;
    top: 50px;
}

.acc_handle {
    position: absolute;
    top: 30px;
    left: 70px;
    color: rgb(183, 184, 183);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.acc_name {
    position: relative;
    top: -40px;
    left: 58px;
    color: mintcream;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

@media (max-width: 400px) {
    .action_icons {
        height: 20px;
        color: gray;
        left: 35px;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 2px;
        margin-top: 2px;
        padding-top: 0;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
    }
}

.reply :hover {
    background-color: rgb(77, 192, 238);
    border-radius: 20px;
    opacity: .5;
}

.retweet :hover {
    background-color: rgb(77, 238, 125);
    border-radius: 20px;
    opacity: .5;
}

.heart :hover {
    background-color: rgb(245, 47, 47);
    border-radius: 20px;
    opacity: .5;
}

.share :hover {
    background-color: rgb(77, 192, 238);
    border-radius: 20px;
    opacity: .5;
}

.boxhighlight :hover {
    background-color: rgb(50, 50, 68);
}

.col {
    padding-top: 10px;
}

.col-lg-1 {
    padding-left: 0px;
    margin-right: 10px;
}

.col-md-1 {
    padding-left: 0px;
    margin-right: 5px;
}

@media (max-width:1100) {
    .col-lg-3 {
        padding-left: 0px;
        margin-left: 5px;
    }
}

@media (max-width:1100) {
    .col-md-3 {
        padding-left: 0px;
        margin-left: 5px;
    }
}

.display_pic {
    position: relative;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.dp_column {
    margin: 1px;
    border-spacing: 1px;
    padding: 0px;
}

@media (max-width:1100) {
    .flex-column {
        left: -10px;
    }
}


.follow_box {
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
}
.form-control {
    background-color: transparent;
    border-style: hidden;
    left: 10px;
}

.form-control :active {
    color: transparent;
    background-color: transparent;
}

.form-control :focus {
    color: transparent;
    background-color: transparent;
}

.input-group {
    margin: 5px;
    padding: 5px;
    overflow: hidden;
}

.nav-item {
    margin-bottom: 5px;
    margin-left: 50px;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.media_icons {
    left: 50px;
    position: relative;
    margin: 0;
    padding: 0;
}

.mob_home_title {
    position: relative;
    top: 10px;
}

.rounded-pill {
    background-color: transparent;
    border-width: 1px;
    border-color: rgb(31, 153, 224);
    color: rgb(31, 153, 224);
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    margin: 2px;
    padding: 2px;
}


.trending {
    padding-left: 15px;
}

.trendbox {
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
}

.tweetbox {
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
}


.tweet_button {
    color: white;
    background-color: rgb(31, 153, 224);
    font-family: 'Arial', sans-serif;
    font-size: medium;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    left: 30px;
    width: 200px;
}

@media (max-width:1255) {
    button.tweet_button {
        padding-bottom: 10px;
        padding-top: 10px;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        left: 20px;
        width: 100px;
    }
}

.tweet_submit_button {
    color: white;
    background-color: rgb(31, 153, 224);
    font-family: 'Arial', sans-serif;
    font-size: medium;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

@media (max-width:1960) {
    .tweet_submit_button {
        color: white;
        background-color: rgb(31, 153, 224);
        font-family: 'Arial', sans-serif;
        font-size: medium;
        font-weight: bold;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 5px;
        padding-top: 5px;
        position: relative;
        left: 300px;
    }
}


@media (max-width:1400) {
    .tweet_submit_button {
        color: white;
        background-color: rgb(31, 153, 224);
        font-family: 'Arial', sans-serif;
        font-size: medium;
        font-weight: bold;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 5px;
        padding-top: 5px;
        position: relative;
        left: 20px;
    }
}

.tweet {
    position: relative;
    top: 30px;
    left: 40px;
}

.tweet_text_row {
    height: 20px;
    padding-bottom: 40px;
    margin-bottom: 50px;
}

@media (max-width: 420) {
    .tweet_text_row {
        height: 20px;
        padding: 0;
        margin: 0;
    }
}

.twitter_icons {
    left: 0;
    position: relative;
    padding: 0;
    margin: 0;
}

.tweet_img {
    border-radius: 10px;
    padding-bottom: 1px;
    margin-bottom: 1px;
    position: relative;
    left: 65px;
    top: -20px;
    height: auto;
    width: 85%;
}

@media (max-width: 400px) {
    .tweet_img {
        position: relative;
        border-radius: 10px;
        margin: 0;
        padding: 0;
        top: -20px;
        left: 65px;
        width: 60%;
        height: auto;
    }
}

.twitter_handle {
    position: absolute;
    top: 10px;
    left: 30px;
    color: rgb(183, 184, 183);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

@media (max-width: 400px) {
    .twitter_handle {
        position: absolute;
        top: 12px;
        left: 30px;
        color: rgb(183, 184, 183);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: small;
    }
}

.twitter_logo {
    color: white;
    font-size: 30px;
    left: 60px;
    position: relative;
    top:5px;
}

.twitter_name {
    position: relative;
    top: 0px;
    left: 10px;
    color: mintcream;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.twitter_name :hover {
    text-decoration: underline;
}

.username {
    color: rgb(94, 93, 93);
}


/*---------------------- IDs -----------------------*/

#searchbar {
    width: 300px;
}

#home_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

#home_page {
    padding-left: 5px;
    margin-left: 5px;
}


#follow_suggestions {
    background-color: rgb(34, 34, 46);
    border-radius: 4mm;
    border-style: solid;
    border-width: 1px;
}

#mobile-top {
    background-color: rgb(11, 11, 24);
    border-bottom-style: solid;
    position: sticky;
    top: 0;
    width:100%;
    z-index: 100;
}

#searchbar {
    background-color: rgb(34, 34, 46);
}

#side_menu{
    display: block;
    position: fixed;
}

@media (max-width:1100) {
    #side_menu{
        display: block;
        position: fixed;
        left: -10px;
        top:0;
    }

}

#suggestions {
    border-top: 5px;
    border-bottom: 5px;
    border-radius: 2mm;
    padding: 10px;
    display: block;
    overflow-x: hidden;
    position: fixed;
    right: 0;
}

#top_Home {
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
}

#trends {
    background-color:rgb(34, 34, 46);
    border-radius: 4mm;
    border-style: solid;
    border-width: 1px;
}

#trends_for_you {
    margin: 2px;
    padding-left: 10px;
}

#tweet_1_text {
    color: mintcream;
    font-size: medium;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 40px;
    left: -150px;
}

#tweet_2_text {
    color: mintcream;
    font-size: medium;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 40px;
    left: -160px;
}

#tweet_3_text {
    color: mintcream;
    font-size: medium;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 40px;
    left: -160px;
}

#tweet_4_text {
    color: mintcream;
    font-size: medium;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 40px;
    left: -160px;
}

#tweet_5_text {
    color: mintcream;
    font-size: medium;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 40px;
    left: -160px;
}

@media (max-width: 400px) {
    #tweet_1_text {
        color: mintcream;
        font-size: medium;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        top: 0px;
        left: 30px;
    }
}

#tweet_main_col {
    border-style: solid;
    border-width: 1px;
}

@media (max-width: 400px) {
    #tweet_main_col {
        border-style: hidden;
    }
}

#who_to_follow {
    margin: 2px;
    padding-left: 10px;
}
